* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.cards{
  background-color: rgb(113, 210, 255);

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
}

.card {
  width: 160px;
  height: 220px;
  perspective: 1000px;
}

.card__piece {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card__piece span{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.card:hover .card__piece {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);

}

.back {
  transform: rotateY(0deg);
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.front {
  background-color: #fff;
  transform: rotateY(180deg);
}
